@charset "UTF-8";
#headerttopdivborder{
	position:absolute;
	width:100%;
	height:50px;
	border-bottom:1px solid #BDBDBD;
	z-index:-5;
}
#headerbottomdivbackground{
	position:absolute;
	
	top:130px;
	width:100%;
	height:50px;
	
	background:linear-gradient( to bottom, #1C68CD, #0852B8 );
	z-index:-5;
}
#zindex{
	width:1600px;
	height:100%;
	margin:0 auto;
}