@charset "UTF-8";


#footerbox{
	position:relative;
	top:100px;
}

.whole{
	width:100%;
	height:100%;
}
.Header{
	width:100%;
	height:200px;
}
.content{
	width:1200px;
	height:100%;
	
	margin:0 auto;
}
.info{
	position:relative;
	height:500px;
}
.itemimg{
	position:relative;
	width:450px;
	height:450px;
	margin:0;
	float:left;
}
.itemimg img{
	width:450px;
	height:450px;
	margin:0;
}
.itemcontent{
	position:relative;
	width:480px;
	height:600px;
	left:50px;
	float:left;
}
.desc1{
	font-size:24pt;
	font-family:Times New Roman;
}
.desc2{
	font-size:24pt;
}
.desc3{
	margin-top:15px;
	font-size:12pt;
	font-family:Times New Roman;
}
.sizeColor{
	margin-top:15px;
	font-family:Times New Roman;
}

.selectoption{
	margin-top:10px;
	width:150px;
	height:30px;
}

.Quantity{
	position:relative;
	margin-top:15px;
	height:40px;
}

.Qname{
	width:60px;
	position:relative;
	float:left;
	margin:0;
}
.Q{
	width:25px;
	font-size:13pt;
}

.QQ{
	float:right;
	position:relative;
	width:20px;
	right:9px;
}
.buybutton{
	width:100%;
}

#dbuy{
	width:100%;
	color:white;
	font-size:13pt;
	background-color:#2457BD;
	border:1px solid white;
	border-radius:10px;
	text-decoration:none;
	height:60px;
	cursor:pointer;
	
}
.wishbutton{
	width:100%;
	height:80px;
	margin-top:15px;
}
.wishlist{
	position:relative;
	width:250px;
	float:left;
}
/* wishlist 甕곌쑵�뱣 */
#wish{
	width:250px;
	color:white;
	font-size:12pt;
	background-color:#2457BD;
	border:1px solid white;
	border-radius:10px;
	text-decoration:none;
	height:50px;
	cursor:pointer;	
}
.price{
	position:relative;
	width:200px;
	font-size:15pt;
	float:right;
	
}
#ztotal{
	position:relative;
	right:15px;
	font-size:12pt;
}
#price2{
	font-weight:bold;
	border:none;
	font-size:24pt;
	width:200px;
	position:relative;
	float:right;
	left:35px;
	bottom:30px;
}
.selectimg{
	position:relative;
	top:-100px;
	float:left;
	width:400px;
	height:150px;
}

.selectimg img{
	position:relative;
	float:left;
	width:100px;
	height:100px;
	border:1px solid #BDBDBD;
}


.otherimg1{
	float:left;
	width:100px;
	height:100px;
	cursor:pointer;
}
.otherimg1:hover{
	opacity:0.7;

}
.otherimg2{
	float:left;
	width:100px;
	height:100px;
	cursor:pointer;
}
.otherimg2:hover{
	opacity:0.7;

}
.otherimg3{
	float:left;
	width:100px;
	height:100px;
	cursor:pointer;
}
.otherimg3:hover{
	opacity:0.7;

}
.otherimg4{
	float:left;
	width:100px;
	height:100px;
	cursor:pointer;
}
.otherimg4:hover{
	opacity:0.7;

}

.otheritem{
	position:relative;
	width:480px;
	height:600px;
	float:left;
	left:50px;
}

/*  占쎌젫占쎈�� �⑥쥙占� 獄쏉옙 占쎄퐬筌륅옙 占쎈뻻占쎌삂 css  */

.botmenu{
	border:1px solid #909090;
	width:1100px;
	height:100%;
	clear:both;
}

.botlist{
	list-style:none;
	position:relative;
	margin:0;
	padding:0;
}
.iteminfo{
	display:inline-block;
	text-align:center;
	vertical-align:middle;
	width:150px;
	height:55px;
	margin:0;
	position:relative;
	border-left:1px solid black;
	border-right:1px solid black;
	cursor:pointer;
	background-color:#2457BD;
	color:white;
}
.iteminfo span{
	font-size:11pt;
	vertical-align:middle;
	line-height:50px;
}
.around{
	display:inline-block;
	text-align:center;
	height:55px;
	border-right:1px solid black;
	width:150px;
	position:relative;
	bottom:3px;
	cursor:pointer;
	background-color:#2457BD;
	color:white;
	margin-left:30px;
}
.around span{
	vertical-align:middle;
	line-height:50px;
	font-size:11pt;
}
.comp{
	display:inline-block;
	width:150px;
	height:55px;
	border-right:1px solid black;
	text-align:center;
	margin-left:30px;
	position:relative;
	bottom:3px;
	background-color:#2457BD;
	color:white;
	cursor:pointer;
}
.comp span{
	vertical-align:middle;
	line-height:50px;
	font-size:11pt;
}
.review{
	display:inline-block;
	width:150px;
	height:55px;
	border-right:1px solid black;
	text-align:center;
	margin-left:30px;
	position:relative;
	bottom:3px;
	cursor:pointer;
	background-color:#2457BD;
	color:white;
}
.review span{
	vertical-align:middle;
	line-height:50px;
	font-size:11pt;
}
.officialinfo{
	display:inline-block;
	width:150px;
	height:55px;
	border-right:1px solid black;
	text-align:center;
	margin-left:30px;
	position:relative;
	bottom:3px;
	cursor:pointer;
	background-color:#2457BD;
	color:white;
}
.officialinfo span{
	vertical-align:middle;
	font-size:11pt;
	line-height:50px;
}

.botTitle{
	width:1100px;
	height:55px;
	text-align:center;
	border-bottom:1px solid #909090;
	margin:0;
}

#productINFO{
	display:none;
	height:550px;
}
#lp{
	position:relative;
	left:30px;
	font-size:11pt;
	font-weight:600;
	top:10px;
}
#rp{
	font-size:11pt;
	position:relative;
	left:30px;
	bottom:5px;	
}

#envi{
	height:500px;
}
#rp2{
	font-size:11pt;
	position:relative;
	top:40px;
	left:30px;
}
#rp3{
	font-size:11pt;
	position:relative;
	top:150px;
}
#lp2{
	position:relative;
	top:40px;
	left:30px;
	font-weight:600;
}

#lp3{
	position:relative;
	font-weight:600;
	top:100px;
	left:30px;
}

#const{
	height:200px;
}

#know{
	height:650px;
}
#rp4{
	font-size:11pt;
	position:relative;
	top:45px;
	left:30px;
}
#rp5{
	font-size:11pt;
	position:relative;
	top:30px;
	left:30px;
}


.botinfo{
	width:100%;
	height:100%;
}
.listTitle{
	width:100%;
	position:relative;
	top:30px;
	height:60px;
	font-family:malgun gothic;
}
.listTitle span{
	width:100px;
	font-weight:600;
	position:relative;
	left:30px;
	font-size:13pt;
	
}
.contentheader{
	width:100%;
	position:relative;
	height:60px;
	top:20px;
	border-bottom:1px solid #BDBDBD;
}
.contentheader span{
	position:relative;
	left:30px;
}
.contentheader select{
	width:120px;
	height:30px;
	float:right;
	position:relative;
	right:50px;
	border:1px solid #BDBDBD;
	border-radius:8px;
}

.contentline{
	width:100%;
	position:relative;
	top:30px;
	height:100%;
}
.buttonarea{
	float:right;
	position:relative;
	right:50px;
}

#reviewbutton{
	width:180px;
	height:35px;
	border:none;
	background-color:#2457BD;
	color:white;
	cursor:pointer;
}

.review_list{
	position:relative;
	width:1100px;
	height:300px;
	margin:0;
	border-bottom:1px solid #BDBDBD;
}

.r1{
	position:relative;
	left:50px;
	width:250px;
	top:10px;
	float:left;
	
}
.r1 img{
	width:150px;
	height:30px;
}
.r2{
	position:relative;
	width:100px;
	top:10px;
	float:left;
	font-size:10pt;
}
.r3{
	position:relative;
	width:100px;
	top:10px;
	float:left;
	font-size:10pt;
}
.r4{
	position:relative;
	font-weight:600;
	left:50px;
	top:30px;
	width:600px;
	height:30px;
	font-size:11pt;
	clear:both;
	
}
.r5{
	position:relative;
	left:50px;
	font-size:10pt;
	top:50px;
	width:600px;
	height:30px;
}

.page{
	position:relative;
	left:400px;
	top:50px;
	text-align:center;
	width:300px;
	height:50px;
}
.rvPbutton{
	width:30px;
	height:30px;
	background-color:#2457BD;
	border:none;
	cursor:pointer;
	color:white;
}
/* �븯�떒遺�遺� �닲湲곌린 */
#envi{
	display:none;
}

#const{
	display:none;
}

#know{
	display:none;
}
#listTitle{
	
}
#contentheader{
	
}
#contentline{

}