/* 별점주기 */
.starR{
  background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat right 0;
  background-size: auto 100%;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-indent: -9999px;
  cursor: pointer;
}
.starR.on{
	background-position:0 0;
}

.timg{
	width:200px;
	height:200px;
	position:relative;
	float:left;
	left:20px;
}
.timg img{
	width:155px;
	height:155px;
}
.title{
	width:550px;
	position:relative;
	float:left;
	font-family:Times New Roman;
	font-size:15pt;
	text-align:center;
	background-color:#E1E1E1;
}
.req{
	font-size:11pt;
}
.starRev{
	position:relative;
	width:500px;
	float:left;
	top:20px;
}
.reviewarea{
	position:relative;
	font-family:'Nanum gothic';
	width:550px;
	height:430px;
	top:30px;
	margin:0;
	float:right;
	right:20px;
	background-color:#E1E1E1;

}
.reviewtitle{
	padding:15px;
}
#subject{
	width:510px;
	height:30px;
	font-size:12pt;
	font-family:'Nanum gothic';

}
.rev_content{
	padding:15px;
	position:relative;
	top:20px;
}

.nickname{
	padding:15px;
	position:relative;
	top:30px;
}
#nick{
	width:250px;
	height:25px;
}
.desc span{
	position:relative;
	float:left;
	font-size:9pt;
	top:55px;
	left:10px;
}

.buttonarea{
	position:relative;
	top:40px;
	width:500px;
	height:50px;
	margin:0;
	clear:both;
}
#clear{
	width:95px;
	height:30px;
	border:none;
	color:white;
	background-color:#2457BD;
}
#close{
	width:95px;
	color:white;
	border:none;
	height:30px;
	background-color:#2457BD;
}